.widget-title-bar .widget-title-control-button {
    min-height: 10px;
    min-width: 10px;
    border-color: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.widget-title-bar .left-box {
    border-width: 0 1px 0 0;
    border-color: #dedede;
    border-style: solid;
}